### Default ###
.DS_Store
out
dist
test/test.js
_debug
TODO.md
INSTALL_DEBUG.md

### Extensions ###
sftp-*.vsix

### VS Code ###
.vscode/**
!.vscode/tasks.json
!.vscode/launch.json

### Node ###
logs
*.log
node_modules/
build/Release
.npm

### Yarn ###
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
