.vscode/**
.vscode-test/**
__mocks__
_debug
.github
out/test/**
test/**
src/**
**/*.map
.gitignore
ISSUE_TEMPLATE.md
INSTALL_DEBUG.md
TODO.md
FAQ.md
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
